body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    color: #555;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    border-color: #170e0f;
}

button {

    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff5722;
    color: #fff;
    transition: background-color 0.3s ease;
 }

button:hover {
    background-color: #f44336;
}

#student-info {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    color: #777;
}

#pizza-description {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;}

